{% extends "users/home_pg_base.html" %}

{% block content %}

    <div class="flex-column flex-center">
        <h1> Foundation Courses </h1>
        <div class="flex-row flex-center">
                {% for course in fdp %}
                    <div class="info-card flex-column">
                        <img src="pictures/{{course.course.course_photo}}" alt="Course Photo" style="flex-grow:1;" class="rect_img">
                        <h3 style="flex-grow:1; margin-left:20px; margin-right:20px; ">{{course.course.course_ID}}<br>{{course.course.course_title}}</h3>
                        {% if course.completed == True %}
                            <img src="pictures/Samples/check.png" alt="Done icon" style="height:20px; width:20px; margin-bottom:10px;">
                        {% endif %}
                    </div>
                {% endfor %}                
        </div>
    </div>
    
    <hr style="width: 50%; color:gray;">
    
    <div class="flex-column flex-center">
        <h1> GER Courses </h1>
        <div class="flex-row flex-center">    
            {% for course in ger %}
                <div class="info-card flex-column">
                        <img src="pictures/{{course.course.course_photo}}" alt="Course Photo" style="flex-grow:1;" class="rect_img">
                        <h3 style="flex-grow:1; margin-left:20px; margin-right:20px; ">{{course.course.course_ID}}<br>{{course.course.course_title}}</h3>
                        {% if course.completed == True %}
                            <img src="pictures/Samples/check.png" alt="Done icon" style="height:20px; width:20px; margin-bottom:10px;">
                        {% endif %}
                </div>
            {% endfor %}      
        </div>
    </div>

    <hr style="width: 50%; color:gray;">

    <div class="flex-column flex-center">
        <h1> Major Courses </h1>
        <div class="flex-row flex-center">    
            {% for course in major %}
                <div class="info-card flex-column">
                    <img src="pictures/{{course.course.course_photo}}" alt="Course Photo" style="flex-grow:1;" class="rect_img">
                    <h3 style="flex-grow:1; margin-left:20px; margin-right:20px;">{{course.course.course_ID}}<br>{{course.course.course_title}}</h3>
                    {% if course.completed == True %}
                        <img src="pictures/Samples/check.png" alt="Done icon" style="height:20px; width:20px; margin-bottom:10px;">
                    {% endif %}
                </div>
            {% endfor %} 
        </div>
    </div>

    <hr style="width: 50%; color:gray;">

    <div class="flex-column flex-center">
        <h1> Free Electives Courses </h1>
        <div class="flex-row flex-center">    
            {% for course in elective %}
                <div class="info-card flex-column">
                    <img src="pictures/{{course.course.course_photo}}" alt="Course Photo" style="flex-grow:1;" class="rect_img">
                    <h3 style="flex-grow:1; margin-left:20px; margin-right:20px;">{{course.course.course_ID}}<br>{{course.course.course_title}}</h3>
                    {% if course.completed == True %}
                        <img src="pictures/Samples/check.png" alt="Done icon" style="height:20px; width:20px; margin-bottom:10px;">
                    {% endif %}
                </div>
            {% endfor %} 
        </div>
    </div>
{% endblock %}