{% extends "users/home_pg_base.html" %}

{% block content %}
        <div class="content center-flex flex-column ">
            <h3 class="category-title"> {{title}} </h3>                        
            <input type="text" id="srchBar" placeholder="Search Courses...">                        
            <div class="flex-row center-flex">
                    {% for course in courses %}
                        <div class="info-card flex-column">
                            <a href="{{course.course.dispPgURL}}" class="no-text-decor">
                                <img src="../../pictures/{{course.course.course_photo}}" alt="Course Photo" style="flex-grow:1;" class="rect_img">
                                <h6 class="course-title">{{course.course.course_ID}} {{course.course.course_title}}</h6>
                            </a>
                            {% if title != "Incomplete Courses" %}
                                <form action={{course.categoryAllotURL}} method="POST"> {% csrf_token %}
                                    {{courseAllotment.category_allotted}}
                                    <input type="submit" value="Allot">
                                    <input type="hidden" name="next" value="{{request.path}}">
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}                
            </div>
        </div>
        <hr style="width: 50%; color:gray;">
        {% if title != 'Completed Courses' and title != "Incomplete Courses" %}
            <div class="credits-flyer">
                <h4>{{credits_completed}}/{{credits_limit}}</h4>
            </div>
        {% endif %}
    
        {% comment %} <div class="content flex-row align-start no-wrap">
            <div class="flex-column catgeories">
                <h3> Catgeories </h3>
                <div class="cat-tab top-tab" id="fdp_button" onclick="show_block('fdp')">
                    <span>Foundation</span>
                </div>

                <div class="cat-tab" id="ger_button" onclick="show_block('ger')">
                    <span>GER</span>
                </div>

                <div class="cat-tab" id="major_button" onclick="show_block('major')">
                    <span>Major Electives</span>
                </div>

                <div class="cat-tab" id="elective_button" onclick="show_block('elective')">
                    <span>Free Elective</span>
                </div>

                <div class="cat-tab" id="complete_button" onclick="show_block('complete')">
                    <span>Completed</span>
                </div>

                <div class="cat-tab bottom-tab" id="incomplete_button" onclick="show_block('incomplete')">
                    <span>Incomplete</span>
                </div>
            </div>

            <div class="cards-section">
                
                
                <div class="block_hide" id="ger">
                    <div class="flex-column">
                        <h3 class="category-title"> GER Courses </h3>
                        <input type="text" id="srchBar" placeholder="Search Courses...">
                        <div class="flex-row">    
                            {% for course in ger %}
                                <div class="info-card flex-column">
                                    <a href="{{course.course.dispPgURL}}" class="no-text-decor">
                                        <img src="pictures/{{course.course.course_photo}}" alt="Course Photo" style="flex-grow:1;" class="rect_img">
                                        <h6 class="course-title">{{course.course.course_ID}} {{course.course.course_title}}</h6>
                                    </a>
                                    <form action={{course.categoryAllotURL}} method="POST"> {% csrf_token %}
                                        {{courseAllotment.category_allotted}}
                                        <input type="submit" value="Allot">
                                    </form>
                                </div>
                            {% endfor %}      
                        </div>
                    </div>
                    <hr style="width: 50%; color:gray;">
                    <div class="credits-flyer">
                        <h4>{{ger_credits_user}}/{{ger_credits_limit}}</h4>
                    </div>
                </div>

                <div class="block_hide" id="major">
                    <div class="flex-column">
                        <h3 class="category-title"> Major Courses </h3>
                        <input type="text" id="srchBar" placeholder="Search Courses...">
                        <div class="flex-row">    
                            {% for course in major %}
                                <div class="info-card flex-column">
                                    <a href="{{course.course.dispPgURL}}" class="no-text-decor">
                                        <img src="pictures/{{course.course.course_photo}}" alt="Course Photo" style="flex-grow:1;" class="rect_img">
                                        <h6 class="course-title">{{course.course.course_ID}} {{course.course.course_title}}</h6>
                                    </a>
                                    <form action={{course.categoryAllotURL}} method="POST"> {% csrf_token %}
                                        {{courseAllotment.category_allotted}}
                                        <input type="submit" value="Allot">
                                    </form>
                                </div>
                            {% endfor %} 
                        </div>
                    </div>
                    <hr style="width: 50%; color:gray;">
                    <div class="credits-flyer">
                        <h4>{{major_credits_user}}/{{major_credits_limit}}</h4>
                    </div>
                </div>

                <div class="block_hide" id="elective">
                    <div class="flex-column">
                        <h3 class="category-title"> Free Electives Courses </h3>
                        <input type="text" id="srchBar" placeholder="Search Courses...">
                        <div class="flex-row">    
                            {% for course in elective %}
                                <div class="info-card flex-column">
                                    <a href="{{course.course.dispPgURL}}" class="no-text-decor">
                                        <img src="pictures/{{course.course.course_photo}}" alt="Course Photo" style="flex-grow:1;" class="rect_img">
                                        <h6 class="course-title">{{course.course.course_ID}} {{course.course.course_title}}</h6>
                                    </a>
                                    <form action={{course.categoryAllotURL}} method="POST"> {% csrf_token %}
                                        {{courseAllotment.category_allotted}}
                                        <input type="submit" value="Allot">
                                    </form>
                                </div>
                            {% endfor %} 
                        </div>
                    </div>
                    <hr style="width: 50%; color:gray;">
                    <div class="credits-flyer">
                        <h4>{{elective_credits_user}}/{{elective_credits_limit}}</h4>
                    </div>
                </div>

                <div class="block_hide" id="complete">
                    <div class="flex-column">
                        <h3 class="category-title"> Completed Courses </h3>
                        <input type="text" id="srchBar" placeholder="Search Courses...">
                        <div class="flex-row">    
                            {% for course in complete %}
                                <div class="info-card flex-column">
                                    <a href="{{course.course.dispPgURL}}" class="no-text-decor">
                                        <img src="pictures/{{course.course.course_photo}}" alt="Course Photo" style="flex-grow:1;" class="rect_img">
                                        <h6 class="course-title">{{course.course.course_ID}} {{course.course.course_title}}</h6>
                                    </a>
                                    <form action={{course.categoryAllotURL}} method="POST"> {% csrf_token %}
                                        {{courseAllotment.category_allotted}}
                                        <input type="submit" value="Allot">
                                    </form>
                                </div>
                            {% endfor %} 
                        </div>
                    </div>
                    <hr style="width: 50%; color:gray;">
                </div>

                <div class="block_hide" id="incomplete">
                    <div class="flex-column">
                        <h3 class="category-title"> Incomplete Courses</h3>
                        <input type="text" id="srchBar" placeholder="Search Courses...">
                        <div class="flex-row">    
                            {% for course in incomplete %}
                                <div class="info-card flex-column">
                                    <a href="{{course.course.dispPgURL}}" class="no-text-decor">
                                        <img src="pictures/{{course.course.course_photo}}" alt="Course Photo" style="flex-grow:1;" class="rect_img">
                                        <h6 class="course-title">{{course.course.course_ID}} {{course.course.course_title}}</h6>                        
                                    </a>
                                </div>
                            {% endfor %} 
                        </div>
                    </div>
                    <hr style="width: 50%; color:gray;">
                </div>
            </div>
        </div> {% endcomment %}
    {% load static %}
    <script src="{% static 'courses/scripts.js' %}"></script>
{% endblock %}