body{
    background-color: #ffd60a;
    font-family: 'Inter', sans-serif;
}

.no-display{
    display: none !important;
}

.flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.wrap {
    flex-wrap: wrap;    
}

.form_card{
    background-color: white;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 20px;
}

.todo_form {
    margin-bottom: 20px;
}

#srchBar {
    min-width: 50%;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.info-card {
    background-color: white;
    height: auto;
    max-width: 460px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 2rem;
    padding: 0px 0px 10px 0px;
}

.rect_img {
    height: auto;
    max-width: 100%;
}

#modal_container{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}

.modal_show {
    opacity:1 !important;
    pointer-events: auto !important;
}

.block_hide {
    display: none;
}

.box_modal{
    background-color: white;
    text-align: center;
    height: 40rem;
    width: 70rem;
    padding:3em;
}

table{
    border-collapse: initial;
    border-spacing: 1rem;
}


.navbar, .navbar-inverse{
    width: 100%;
}

.col-form-label {
    margin-right: 20px;
}

.invalid-feedback {
    color: red;
    font-size: 12px;
}

.courseDispImg {
    height: 30vh;
    margin: 20px;
    border-radius: 10px;
    overflow-x: hidden;
}

.padding-space {
    padding-left: 5vw;
    padding-right: 5vw;
}

.margin-space {
    margin-left: 5vw;
    margin-right: 5vw;
}

.marginright {
    margin-right: 30px;
}

.whitespace {
    background-color: white !important;     
}

.no-space-flex {
    justify-content: flex-start;
}

.grey-bckg{
    background-color: #F6F6F6;
}

.padding20px{
    padding: 20px;
}

.padding1rem {
    padding: 1rem;
}

.unset-margin-top {
    margin-top:unset;
}

.content-box {
    padding: 10px 20px ;
}

.tab-hghl {
    border-bottom: 1px solid blue;
}

.tab:hover {
    background-color: #EDEDED;
    cursor: pointer;
}

.fa {
    font-size: 25px;
}

.checked {
    color: gold;
}

.center-item {
    align-self: center;
}

.highlight-main {
    background-color: #EDEDFF;
}

.highlight-hover:hover {
    background-color: #FFFFA4;
}
