body{
    background-color: #ffd60a;
    font-family: 'Inter', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
}

.form_card{
    background-color: white;
    height: 40rem;
    width: 40rem;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.form_table{
    border-spacing: 1rem;
}