<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "users/styles.css" %}">

        {% block extra_head %}
        {% endblock %}

    </head>
    <body>
        <div class="flex-container">
            <div class="form_card">
                {% block form_card%}
                {% endblock %}
            </div>
        </div>

        
    </body>
</html>