<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        {% block linkFiles %}
        {% endblock %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "users/styles.css" %}">
        <!-- Date Time Picker CSS -->
        <link rel="stylesheet" href="{% static 'date-time-phone/jquery-ui.css' %}">
        <link rel='stylesheet' href="{% static 'date-time-phone/jquery-ui-timepicker-addon.css' %}" />
        <!-- Date Time Picker CSS -->
    </head>
    <body>

        <!--Navbar http://codepen.io/macsupport/pen/bKFzD-->
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if request.user.is_superuser %}
                            <li><a href = "/">Home</a></li>
                            <li><a href = "/course/addCourse">Add Courses</a></li>
                            <li><a href = "/course/addFaculty">Add Faculty</a></li>
                            <li><a href = "">Enroll Students</a></li>  
                        {% else %}
                            <li><a href = "/">Home</a></li>
                            <li><a href = "/todo">To-Do</a></li>
                            <li><a href = "/course/myCourses">Your Courses</a></li>
                            <li><a href = "">Rate Courses</a></li>
                            <li><a href = "">Resume Maker</a></li>
                        {% endif %}
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        {% block content %}
        {% endblock %}
        <script src="" async defer></script>
    </body>
</html>




