<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        {% block linkFiles %}
        {% endblock %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "users/styles.css" %}">
        <!-- Date Time Picker CSS -->
        <link rel="stylesheet" href="{% static 'date-time-phone/jquery-ui.css' %}">
        <link rel='stylesheet' href="{% static 'date-time-phone/jquery-ui-timepicker-addon.css' %}" />
        <!-- Date Time Picker CSS -->
    </head>
    <body>

        <!--Navbar http://codepen.io/macsupport/pen/bKFzD-->
        {% comment %} <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if request.user.is_superuser %}
                            <li><a href = "/">Home</a></li>
                            <li><a href = "/course/addCourse">Add Courses</a></li>
                            <li><a href = "/course/addFaculty">Add Faculty</a></li>
                            <li><a href = "/course/enroll">Enroll Students</a></li>  
                        {% else %}
                            <li><a href = "/">Home</a></li>
                            <li><a href = "/todo">To-Do</a></li>
                            <li><button class="dropbtn">Your Courses <i class="fa fa-caret-down"></i></button></li> 
                            
                            <div class="dropdown-content">
                                <a href="/course/foundation">Foundation</a>
                                <a href="/course/ger">GER</a>
                                <a href="/course/major">Major Electives</a>
                                <a href="/course/free">Free Electives</a>
                                <a href="/course/completed">Completed</a>
                                <a href="/course/incomplete">Incomplete</a>
                            </div>                           
                            <li><a href = "">Resume Maker</a></li>
                        {% endif %}
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav> {% endcomment %}
        <div class="topnav" id="myTopnav">
            {% if request.user.is_superuser %}
                <a href = "/">Home</a>
                <a href = "/course/addCourse">Add Courses</a>
                <a href = "/course/addFaculty">Add Faculty</a>
                <a href = "/course/enroll">Enroll Students</a>
            {% else %}
                <a href = "/">Home</a>
                <a href = "/todo">To-Do</a>
                <div class="dropdown">
                    <button class="dropbtn">
                        Your Courses
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/course/myCourses/foundation">Foundation</a>
                        <a href="/course/myCourses/ger">GER</a>
                        <a href="/course/myCourses/major">Major Electives</a>
                        <a href="/course/myCourses/free">Free Electives</a>
                        <a href="/course/myCourses/completed">Completed</a>
                        <a href="/course/myCourses/incomplete">Incomplete</a>
                    </div>
                </div>
                <a href = "">Resume Maker</a>
                <a href="/logout">Logout</a>
            {% endif %}
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
        
        {% block content %}
        {% endblock %}
        <!-- Latest compiled and minified JavaScript -->        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src={% static 'users/scripts.js' %}></script>
    </body>
</html>




