{% extends 'users/base.html'%}

{% block form_card %}
    <h1>Login</h1>
    <center>
        <form method="POST"> {% csrf_token %}
            <table class="form_table">
                <tr>
                    <td>Username</td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password"></td>
                </tr>
            </table>
            <input type = "submit" value="Log in"><br>
        </form>
        <p>Don't have an account? <a href='/signup'>Sign Up</a> now!</p>
        <p>{{message}}</p>
    </center>
{% endblock %}